body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(233, 249, 255), rgb(1, 21, 74));
    color: #fff;
}

.container {
    text-align: center;
}
